<html layout:decorate="~{Layout}">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form th:action="@{/question/create}" method="post">
    
      <div class="mb-3">
        <label for="subject" class="form-Label">제목</label>
        <input type="text" name="subject" id="subject" class="form-control" />
      </div>
      
      <div class="mb-3">
        <label for="content" class="form-Label">내용</label>
        <textarea rows="15" name="content" id="content" class="form-control"></textarea>
      </div>
      
      <input type="submit" value="저장하기" class="btn btn-primary" />
    </form>
</div>
</html>
